/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 2, 2015, 2:46:21 PM
    Author     : Elisabeth
*/


body, html{
background-color: #000000;
height: 99%;
width: 99%;
}

#Title{
    position: absolute;
    margin: 0px 0 0 -50px;
    left: 19.5%;
    height: 100px;
    width: 100px;
    background-color: #980000;
    z-index: 2;
}

/*Position Source: http://designshack.net/articles/css/how-to-center-anything-with-css/*/
#Image{
    position: absolute;
    margin: -262.5px 0 0 -512.5px;
    left: 50%;
    top: 50%;
    
    height: 545px;
    width: 1025px;
    z-index: 1;
    background-image: url("http://pluto.cse.msstate.edu/~aes421/Maze.PNG");
    
}

#Container{
    background-color: #000000;
    height: 100%;
    width: 100%;
}

