/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 6, 2015, 7:45:03 PM
    Author     : Elisabeth
*/

html{
	min-height: 100%;
	position: relative;
}

body{
	background-color: #000000;
	width: 100%;
        display: block;
        margin: auto;
}

h1{
    color: white;
    z-index: 2;
}

#container{
	width: 1025px;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	margin: auto;
        z-index: 1;
}
        
#Title{
    position: absolute;
    height: 135px;
    width: 239px;
    float: left;
    margin: auto;
    z-index: 2;	
    background:maroon;
}

IMG.logoImg{
    position: absolute;
    float: left;
    z-index: 2;
    margin: auto;
}