/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 23, 2015, 9:28:21 PM
    Author     : Allan
*/

html{
    min-height: 100%;
    position: relative;
}

#container{
    width: 1025px;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    background-color: black;
}

body{
    background-color: maroon;
    width: 100%;
}

IMG.logoImg{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: auto;    
}

#homeLink{
    width:512.5px;
    height: 220px;
    position: relative;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    clear: both;
}

.button{
  height: 22px;
  border: none;
  width: 300px;
  background: #FDFCFB;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 3%;
  border-radius: 5px 0 0 5px;
}

#topField{
    padding-top: 75px;
    color: #FFFFFF;
    margin:0;
}

#field{
    padding-top: 15px;
    color: #FFFFFF;
    margin:0;
}

#buttonAlign{
    padding-top: 10px;
    padding-left: 30px;
    width: 335px;
    float: left;
    clear: both;
}

.register{
    padding-top: 15px;
    padding-left: 10px;
    color: #FFFFFF;
    margin:0;
    clear: both;
}