/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 2, 2015, 2:46:21 PM
    Author     : Elisabeth
*/

html{
	min-height: 100%;
	position: relative;
}

body{
	background-color: #000000;
	width: 100%;
}

#Title{
    position: absolute;
    height: 125px;
    width: 244px;
    float: left;
    margin: auto;	

}
IMG.logoImg{
    position: absolute;
    float: left;
    z-index: 2;
    margin: auto;
    
}

img.mazeImg{
	position: absolute;
	vertical-align: middle;
    z-index: 1;
   	margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
}


#container{
	width: 1025px;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	margin: auto;
}

#loginID{
	position:relative;
	float:right;
	clear: right;
	z-index:3;
	margin:0;
}

#registerID{
	position:relative;
	float: right;
	clear:right;
	z-index:4;
	margin:0;
}
.login{
	padding-top: 25px;
	padding-right:17.5px;
	color: #FFFFFF;
	margin:0;
}

.register{
	padding-top: 3px;
	color: #FFFFFF;
	margin:0;
}

.clearfix:after {
    display:block;
    clear:both;
}
 
/*----- Menu Outline -----*/
.menu-wrap {
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background:#3e3436;
}
 
.menu {
    width:1000px;
    margin:0px auto;
    z-index: 2;
}
 
.menu li {
    margin:0px;
    list-style:none;
    font-family:'Times New Roman';
}
 
.menu a {
    transition:all linear 0.15s;
    color:#919191;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#be5b70;
}
 
.menu .arrow {
    font-size:11px;
    line-height:0%;
}
 
/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
}
 
.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#2e2728;
}
 
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:2;
    opacity:1;
}
 
.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:2;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#2e2728;
}
 
.sub-menu li {
    display:block;
    font-size:16px;
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background:#3e3436;
}