/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 2, 2015, 2:46:21 PM
    Author     : Elisabeth
*/

html{
	min-height: 100%;
	position: relative;
}

body{
	background-color: #000000;
	width: 100%;
}

#Title{
    position: absolute;
    height: 135px;
    width: 239px;
    float: left;
    margin: auto;
    z-index: 2;	
    background:maroon;
}

IMG.logoImg{
    position: absolute;
    float: left;
    z-index: 2;
    margin: auto;
    
}

IMG.mazeImg{
	position: absolute;
	vertical-align: middle;
    z-index: 1;
   	margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
}


#container{
	width: 1025px;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	margin: auto;
}

#loginID{
	position:relative;
	float:right;
	clear: right;
	z-index:3;
	margin:0;
}

#registerID{
	position:relative;
	float: right;
	clear:right;
	z-index:4;
	margin:0;
}

.login{
	padding-top: 25px;
	padding-right:17.5px;
	color: #FFFFFF;
	margin:0;
}

.register{
	padding-top: 3px;
	color: #FFFFFF;
	margin:0;
}

#welcome{
    color: white;
    float: right;
    padding-top:10px;
}

#logoutID{
	position:relative;
	float: right;
	clear:right;
	z-index:4;
	margin:0;
}

.logout{
	margin-top: 35px;
	color: #FFFFFF;
}






.clearfix:after {
    display:block;
    clear:both;
}
 
.menu-wrap {
    width:239px;
    z-index: 3;
}
 
.menu {
	position: absolute;
    width:239px;
    top: 75px;
    left: 12.5px;
    z-index: 3;
}
 
.menu li {
    margin:0px;
    list-style:none;
    font-family:'Times New Roman';
    z-index: 3;
}
 
.menu a {
    transition:all linear 0.15s;
    color:#919191;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color: maroon;
}
 
.menu .arrow {
    font-size:11px;
    line-height:0%;
}
 
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
}
 
.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#2e2728;
}

.menu li:hover .sub-menu {
    z-index:2;
    opacity:1;
}
 
.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:2;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#2e2728;
}
 
.sub-menu li {
    display:block;
    font-size:16px;
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background:#3e3436;
}
